<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    <style>
        body {
            font-family: Arial;
            background-color: #f0f8ff;
            text-align: center;
            padding-top: 150px;
        }
        a {
            text-decoration: none;
            color: white;
            background-color: #dc3545;
            padding: 10px 20px;
            border-radius: 6px;
        }
        a:hover {
            background-color: #c82333;
        }
    </style>
</head>
<body>
    <h1>Welcome, {{ username }} 🎉</h1>
    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>
